APP_NAME=Placement Readiness API
APP_ENV=development

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=placement_readiness

JWT_SECRET=change-this-later
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60